global
    maxconn 10000
    nbthread 1

defaults
    mode http
    timeout connect 1s
    timeout client  30s
    timeout server  30s
    option http-keep-alive
    option forwardfor

frontend http_front
    bind *:80
    default_backend api_back

backend api_back
    balance roundrobin
    option http-reuse always
    option httpchk GET /ready
    server api1 api1:8080 check inter 5s fall 3 rise 2
    server api2 api2:8080 check inter 5s fall 3 rise 2
